div{
    background-color: rgba(56, 53, 53, 0.6);
    border-radius: 25px;
    justify-content: center;
    padding: 50px;
    margin: 10px;
    text-align: center;
}

p:hover{
    color: rgb(128, 128, 128);
    cursor: pointer;
}

.divLogin{
    background-color: rgba(56, 53, 53, 0.6);
    border-radius: 25px;
    justify-content: center;
    padding: 50px;
    margin: auto;
    width: 50%;
    text-align: center;
    display: block;
  }
  
  .button:hover {
    cursor: pointer;
  }
  
  p{
    padding: 20px;
  }

 