<pre (click)="refresh()" style="text-align: right">Refresh Data</pre>
<mat-accordion>
    <mat-expansion-panel *ngFor="let record of records">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Record:
          </mat-panel-title>
          <mat-panel-description>
            {{record.id}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngFor="let data of recordList">
            <div *ngIf="data[0] == record.id" >
              <p *ngFor="let item of data, let i = index">
                {{item}}
              </p>
            </div>
        </div>
      </mat-expansion-panel>
</mat-accordion>


